<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-i18n="i18n_detail"></title>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/swiper.min.css">
    <link rel="stylesheet" href="./css/index.css">
    <!-- 引入样式文件 -->
    <link rel="stylesheet" href="./css/vant@2.12.css"/>
</head> 
<body>
    <div id="app">
        <template>
        <div class = "tab_title">
            <div class="header">
                <div class="header_top" @click="header_top_click">
                    <div><img class="header_top_img1" src="./images/icon_rili.png" alt=""></div>
                    <data_div>{{startDate}}</data_div>
                    <div class="header_top_zhi" data-i18n="i18n_to"></div>
                    <data_div>{{endDate}}</data_div>
                    <div><img class="header_top_img2" src="./images/icon_sang.png" alt=""></div>
                </div>
                <div class="header_down" v-if="pool_list">
                    <!-- <diamond_num>
                        <template v-slot:names>获取钻石：</template>
                        <template v-slot:num>{{incrDiamond}}</template>
                    </diamond_num>
                    <diamond_num>
                        <template v-slot:names>消费钻石：</template>
                        <template v-slot:num>{{decrDiamond}}</template>
                    </diamond_num> -->
                    <div class="header_down_get">
                        <span class='diamond' data-i18n="i18n_get"></span>
                        <span class='num'>{{incrDiamond}}</span>
                    </div>
                    <div class="header_down_get">
                        <span class='diamond' data-i18n="i18n_pay"></span>
                        <span class='num'>{{decrDiamond}}</span>
                    </div>
                </div>
            </div>
            
            <!-- 标题导航 ...-->
            <!-- <div class="task">
                <div class="swiper-container study_fo" :class="add_border ? 'add_border' : 'add_borders'">
                    <div class="swiper-wrapper" @touchmove="gtouchmove(event)">
                        <div class="swiper-slide meet_number" @click="selected(index)" v-for="(item, index) in titles" :key="index">
                            <div class="task_item">
                                <p class="task_item_text" :class="{active: isicon == index}">{{item}}</p>
                                <img v-if="isicon == index" src="./images/tab_pre.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div> -->
        </div>
        <!-- 标题导航 ...-->
        <van-tabs :class="add_border ? 'add_border' : 'add_borders'" swipeable :swipe-threshold="4" sticky offset-top="5.1rem" @change="change" >
            <van-tab :title="1232" name=0>
                <div slot="title" data-i18n="i18n_summary">汇总</div>
                    <!-- 汇总列表 -->
                    <ul v-if="pool_list && listType == 0 ? true : false" class="pool_ul">
                        <li class="pool_li" v-for="(item, index) in pool_list.list" :key="index">
                            <div class="pool_li_title">
                                <img v-bind:src="item.icon" referrerPolicy="no-referrer" alt="">
                                <p>{{item.title}}</p>
                            </div>
                            <div class="pool_li_num">
                                <p>{{item.diamond}}</p>
                                <img src="./images/ic_zuanshi.png" alt="">
                            </div>
                        </li>
                    </ul>
            </van-tab>

            <van-tab :title="456" name=1>
                <div slot="title" data-i18n="i18n_messages">聊天</div>
                <!-- 索引 -->
                <van-index-bar :sticky-offset-top=130 highlight-color="#999999">
                    <!-- 聊天列表 -->
                    <ul v-if="listType == 1 ? true : false" class="chat_ul" ref='vanlist'>
                        <li class="pool_li" v-for="(item, index) in lists" :key="index">
                            <van-index-anchor index="1">{{item.createTime}}</van-index-anchor>

                            <!-- <p class="chat_ul_date">{{item.createTime}}</p> -->
                            <div class="chat_ul_item" v-for="(element, i) in item.datas" :key="i">
                                <div class="chat_ul_left">
                                    <div v-show="element.billType == 62 ? true : false" class="chat_ul_item_text">
                                        <p data-i18n="i18n_reply">回复了</p>
                                        <p @click="find_infor(element.targetUid)" class="chat_ul_item_text_name">{{element.targetNick}}</p>    
                                        <p data-i18n="i18n_message">的消息</p>    
                                    </div>

                                    <div v-show="element.billType == 66 || element.billType == 69 ? true : false" class="chat_ul_item_text">
                                        <p data-i18n="i18n_replys">回应了</p>
                                        <p @click="find_infor(element.targetUid)" class="chat_ul_item_text_name">{{element.targetNick}}</p>
                                        <p data-i18n="i18n_say_hi">的搭讪</p>
                                        <p>({{element.giftName}}x{{element.giftNum}})</p>
                                    </div>

                                    <p class="chat_ul_item_date">{{element.time_hours}}</p>
                                </div>
                                <div class="chat_ul_right">
                                    <p>+{{element.diamond}}</p>
                                    <img src="./images/ic_zuanshi.png" alt="">
                                </div>
                            </div>
                        </li>
                    </ul>
                </van-index-bar>
            </van-tab>

            <van-tab :title="456" name=2>
                <div slot="title" data-i18n="i18n_gifts">礼物</div>
                <!-- 索引 -->
                <van-index-bar :sticky-offset-top=130 highlight-color="#999999">
                    <!-- 礼物列表 -->
                    <ul v-if="listType == 2 ? true : false" class="gift_ul">
                        <li class="gift_li" v-for="(item, index) in lists" :key="index">
                            <van-index-anchor index="1">{{item.createTime}}</van-index-anchor>

                            <!-- <p class="gift_ul_date">{{item.createTime}}</p> -->
                            <div class="gift_ul_item" v-for="(element, i) in item.datas" :key="i">

                                <div class="gift_ul_left">
                                    <div v-show="langs == 'en' || langs == 'vi'" class="gift_ul_item_text">
                                        <p data-i18n="i18n_gets">收到</p>
                                        <p>&nbsp {{element.giftName}}x{{element.giftNum}} &nbsp</p>
                                        <p data-i18n="i18n_from">赠送的</p>
                                        <p @click="find_infor(element.targetUid)" class="gift_ul_item_text_name">{{element.targetNick}}</p>
                                    </div>
                                    <div v-show="langs == 'zh'" class="gift_ul_item_text">
                                        <p data-i18n="i18n_gets">收到</p>
                                        <p  @click="find_infor(element.targetUid)" class="gift_ul_item_text_name">{{element.targetNick}}</p>
                                        <p data-i18n="i18n_from">赠送的</p>
                                        <p>{{element.giftName}}x{{element.giftNum}}</p>
                                    </div>
                                    <p class="gift_ul_item_date">{{element.time_hours}}</p>
                                </div>

                                <div class="gift_ul_right">
                                    <p>+{{element.diamond}}</p>
                                    <img src="./images/ic_zuanshi.png" alt="">
                                </div>

                            </div>
                        </li>
                    </ul>
                </van-index-bar>
            </van-tab>
            <van-tab :title="456" name=3>
                <div slot="title" data-i18n="i18n_videos">视频</div>
                <!-- 索引 -->
                <van-index-bar :sticky-offset-top=130 highlight-color="#999999">
                    <!-- 视频列表 -->
                    <ul v-if="listType == 3 ? true : false" class="gift_ul">
                        <li class="gift_li" v-for="(item, index) in lists" :key="index">
                            <van-index-anchor index="1">{{item.createTime}}</van-index-anchor>
                            <!-- <p class="gift_ul_date">{{item.createTime}}</p> -->

                            <div class="gift_ul_item" v-for="(element, i) in item.datas" :key="i">
                                <div class="gift_ul_left">

                                    <div v-show="langs == 'en' || langs == 'zh'" class="gift_ul_item_text">
                                        <p data-i18n="i18n_with">与</p>
                                        <p @click="find_infor(element.targetUid)" class="gift_ul_item_text_name">{{element.targetNick}}</p>
                                        <p data-i18n="i18n_video">视频通话</p>
                                        <p>({{element.videoTime | time_filter}})</p>
                                    </div>
                                    <div v-show="langs == 'vi'" class="gift_ul_item_text">
                                        <p data-i18n="i18n_video">视频通话</p>
                                        <p>&nbsp ({{element.videoTime | time_filter}}) &nbsp</p>
                                        <p data-i18n="i18n_with">与</p>
                                        <p @click="find_infor(element.targetUid)" class="gift_ul_item_text_name">{{element.targetNick}}</p>
                                    </div>

                                    <p class="gift_ul_item_date">{{element.time_hours}}</p>
                                </div>
                                
                                <div class="gift_ul_right">
                                    <p>+{{element.diamond}}</p>
                                    <img src="./images/ic_zuanshi.png" alt="">
                                </div>
                            </div>
                        </li>
                    </ul>
                </van-index-bar>
            </van-tab>

            <van-tab :title="456" name=4>
                <div slot="title" data-i18n="i18n_voices">语音</div>
                <!-- 索引 -->
                <van-index-bar :sticky-offset-top=130 highlight-color="#999999">
                    <!-- 语音列表 -->
                    <ul v-if="listType == 4 ? true : false" class="gift_ul">
                        <li class="gift_li" v-for="(item, index) in lists" :key="index">
                            <van-index-anchor index="1">{{item.createTime}}</van-index-anchor>
                            <!-- <p class="gift_ul_date">{{item.createTime}}</p> -->
                            <div class="gift_ul_item" v-for="(element, i) in item.datas" :key="i">
                                <div class="gift_ul_left">

                                    <div v-show="langs == 'en' || langs == 'zh'" class="gift_ul_item_text">
                                        <p data-i18n="i18n_withs">与</p>
                                        <p @click="find_infor(element.targetUid)" class="gift_ul_item_text_name">{{element.targetNick}}</p>
                                        <p data-i18n="i18n_vidce">语音通话</p>
                                        <p>({{element.voiceTime | time_filter}})</p>
                                    </div>  
                                    <div v-show="langs == 'vi'" class="gift_ul_item_text">
                                        <p data-i18n="i18n_vidce">语音通话</p>
                                        <p>&nbsp ({{element.voiceTime | time_filter}}) &nbsp</p>
                                        <p data-i18n="i18n_withs">与</p>
                                        <p @click="find_infor(element.targetUid)" class="gift_ul_item_text_name">{{element.targetNick}}</p>
                                    </div>  

                                    <p class="gift_ul_item_date">{{element.time_hours}}</p>
                                </div>

                                <div class="gift_ul_right">
                                    <p>+{{element.diamond}}</p>
                                    <img src="./images/ic_zuanshi.png" alt="">
                                </div>
                            </div>
                        </li>
                    </ul>
                </van-index-bar>
            </van-tab>

            <van-tab :title="456" name=5>
                <div slot="title" data-i18n="i18n_invitation">邀请收益</div>
                <!-- 索引 -->
                <van-index-bar :sticky-offset-top=130 highlight-color="#999999">
                    <!-- 邀请收益列表 -->
                    <ul v-if="listType == 5 ? true : false" class="gift_ul">
                        <li class="gift_li" v-for="(item, index) in lists" :key="index">
                            <van-index-anchor index="1">{{item.createTime}}</van-index-anchor>
                            <!-- <p class="gift_ul_date">{{item.createTime}}</p> -->
                            <div class="gift_ul_item" v-for="(element, i) in item.datas" :key="i">
                                <div class="gift_ul_left">
                                    <div v-show="langs == 'en' || langs == 'zh'" class="gift_ul_item_text">
                                        <p @click="find_infor(element.targetUid)" class="gift_ul_item_text_name">{{element.targetNick}}</p>
                                        <p data-i18n="i18n_commissions">的收益分成奖励</p>
                                    </div>
                                    <div v-show="langs == 'vi'" class="gift_ul_item_text">
                                        <p data-i18n="i18n_commissions">的收益分成奖励</p>
                                        <p @click="find_infor(element.targetUid)" class="gift_ul_item_text_name">{{element.targetNick}}</p>
                                    </div>
                                    <p class="gift_ul_item_date">{{element.time_hours}}</p>
                                </div>

                                <div class="gift_ul_right">
                                    <p>+{{element.diamond}}</p>
                                    <img src="./images/ic_zuanshi.png" alt="">
                                </div>
                            </div>
                        </li>
                    </ul>
                </van-index-bar>
            </van-tab>

            <van-tab :title="456" name=6>
                <div slot="title" data-i18n="i18n_system_sents">系统赠送</div>
                <!-- 索引 -->
                <van-index-bar :sticky-offset-top=130 highlight-color="#999999">
                    <!-- 系统赠送列表 -->
                    <ul v-if="listType == 6 ? true : false" class="gift_ul">
                        <li class="gift_li" v-for="(item, index) in lists" :key="index">
                            <van-index-anchor index="1">{{item.createTime}}</van-index-anchor>
                            <!-- <p class="gift_ul_date">{{item.createTime}}</p> -->
                            <div class="gift_ul_item" v-for="(element, i) in item.datas" :key="i">
                                <div class="gift_ul_left">
                                    <div class="gift_ul_item_text">
                                        <p data-i18n="i18n_system_sent">系统赠送</p>
                                    </div>
                                    <p class="gift_ul_item_date">{{element.time_hours}}</p>
                                </div>

                                <div class="gift_ul_right">
                                    <p>+{{element.diamond}}</p>
                                    <img src="./images/ic_zuanshi.png" alt="">
                                </div>
                            </div>
                        </li>
                    </ul>
                </van-index-bar>
            </van-tab>

            <van-tab :title="456" name=7>
                <div slot="title" data-i18n="i18n_consuming_diamonds">消费钻石</div>
                <!-- 索引 -->
                <van-index-bar :sticky-offset-top=130 highlight-color="#999999">
                    <!-- 消费钻石列表 -->
                    <ul v-if="listType == 7 ? true : false" class="gift_ul">
                        <li class="gift_li" v-for="(item, index) in lists" :key="index">
                            <van-index-anchor index="1">{{item.createTime}}</van-index-anchor>
                            <!-- <p class="gift_ul_date">{{item.createTime}}</p> -->
                            <div class="gift_ul_item" v-for="(element, i) in item.datas" :key="i">

                                <div class="gift_ul_left">
                                    <div v-show="element.billType == 91 ? true : false" class="gift_ul_item_text">
                                        <p data-i18n="i18n_withdraw">提现了</p>
                                        <p>&nbsp ${{element.amount}}</p>
                                    </div>
                                    <div v-show="element.billType == 90 ? true : false" class="gift_ul_item_text">
                                        <p data-i18n="i18n_exchange">兑换了</p>
                                        <p>&nbsp {{element.amount}}</p>
                                        <p data-i18n="i18n_golds">金币</p>
                                    </div>
                                    <p class="gift_ul_item_date">{{element.time_hours}}</p>
                                </div>

                                <div class="gift_ul_right">
                                    <p class="color">-{{element.diamond}}</p>
                                    <img src="./images/ic_zuanshi.png" alt="">
                                </div>
                            </div>
                        </li>
                    </ul>
                </van-index-bar>
            </van-tab>
        </van-tabs>

        <!-- 隐藏的日期选择器，。。 -->
        <van-popup v-model="isChoiceTime" round position="bottom" :style="{ height: '14.5rem' }" />
            <div class="headerSlots">
                <div class="quxiao" @click="cancelClick" data-i18n="i18n_cancel"></div>
                <div class="xuanze" data-i18n="i18n_select_time"></div>
                <div class="queding" @click="determine" data-i18n="i18n_ok"></div>
            </div>
            <div class="center">
                <div class="center_left" :class="cont == 1 ? 'selected' : 'un_selected'" @click="timeClick(1)">{{toolTime01}}</div>
                <div class="center_text" data-i18n="i18n_to"></div>
                <div class="center_right" :class="cont == 2 ? 'selected' : 'un_selected'" @click="timeClick(2)">{{toolTime02}}</div>
            </div>
            <div>
                <van-datetime-picker visible-item-count="3" type="date" @change="changeTimeMore" :show-toolbar="false" v-model="startTimes"/>
            </div>
        </van-popup>

        <!-- 汇总列表 -->
        <!-- <ul v-if="pool_list && listType == 0 ? true : false" class="pool_ul">
            <li class="pool_li" v-for="(item, index) in pool_list.list" :key="index">
                <div class="pool_li_title">
                    <img v-bind:src="item.icon" referrerPolicy="no-referrer" alt="">
                    <p>{{item.title}}</p>
                </div>
                <div class="pool_li_num">
                    <p>{{item.diamond}}</p>
                    <img src="./images/ic_zuanshi.png" alt="">
                </div>
            </li>
        </ul> -->

        <!-- 聊天列表 -->
        <!-- <ul v-if="listType == 1 ? true : false" class="chat_ul" ref='vanlist'>
            <li class="pool_li" v-for="(item, index) in lists" :key="index">
                <p class="chat_ul_date">{{item.createTime}}</p>
                <div class="chat_ul_item" v-for="(element, i) in item.datas" :key="i">
                    <div class="chat_ul_left">
                        <div v-show="element.billType == 62 ? true : false" class="chat_ul_item_text">
                            <p  data-i18n="i18n_reply">回复了</p>
                            <p @click="find_infor(element.targetUid)" class="chat_ul_item_text_name">{{element.targetNick}}</p>    
                            <p data-i18n="i18n_message">的消息</p>    
                        </div>

                        <div v-show="element.billType == 66 || element.billType == 69 ? true : false" class="chat_ul_item_text">
                            <p data-i18n="i18n_replys">回应了</p>
                            <p @click="find_infor(element.targetUid)" class="chat_ul_item_text_name">{{element.targetNick}}</p>
                            <p data-i18n="i18n_say_hi">的搭讪</p>
                            <p>({{element.giftName}}x{{element.giftNum}})</p>
                        </div>

                        <p class="chat_ul_item_date">{{element.time_hours}}</p>
                    </div>
                    <div class="chat_ul_right">
                        <p>+{{element.diamond}}</p>
                        <img src="./images/ic_zuanshi.png" alt="">
                    </div>
                </div>
            </li>
        </ul> -->

        <!-- 礼物列表 -->
        <!-- <ul v-if="listType == 2 ? true : false" class="gift_ul">
            <li class="gift_li" v-for="(item, index) in lists" :key="index">
                <p class="gift_ul_date">{{item.createTime}}</p>
                <div class="gift_ul_item" v-for="(element, i) in item.datas" :key="i">

                    <div class="gift_ul_left">
                        <div v-show="langs == 'en' || langs == 'vi'" class="gift_ul_item_text">
                            <p data-i18n="i18n_gets">收到</p>
                            <p>&nbsp {{element.giftName}}x{{element.giftNum}} &nbsp</p>
                            <p data-i18n="i18n_from">赠送的</p>
                            <p @click="find_infor(element.targetUid)" class="gift_ul_item_text_name">{{element.targetNick}}</p>
                        </div>
                        <div v-show="langs == 'zh'" class="gift_ul_item_text">
                            <p data-i18n="i18n_gets">收到</p>
                            <p  @click="find_infor(element.targetUid)" class="gift_ul_item_text_name">{{element.targetNick}}</p>
                            <p data-i18n="i18n_from">赠送的</p>
                            <p>{{element.giftName}}x{{element.giftNum}}</p>
                        </div>
                        <p class="gift_ul_item_date">{{element.time_hours}}</p>
                    </div>

                    <div class="gift_ul_right">
                        <p>+{{element.diamond}}</p>
                        <img src="./images/ic_zuanshi.png" alt="">
                    </div>

                </div>
            </li>
        </ul> -->
        
        <!-- 视频列表 -->
        <!-- <ul v-if="listType == 3 ? true : false" class="gift_ul">
            <li class="gift_li" v-for="(item, index) in lists" :key="index">
                <p class="gift_ul_date">{{item.createTime}}</p>

                <div class="gift_ul_item" v-for="(element, i) in item.datas" :key="i">
                    <div class="gift_ul_left">

                        <div v-show="langs == 'en' || langs == 'zh'" class="gift_ul_item_text">
                            <p data-i18n="i18n_with">与</p>
                            <p @click="find_infor(element.targetUid)" class="gift_ul_item_text_name">{{element.targetNick}}</p>
                            <p data-i18n="i18n_video">视频通话</p>
                            <p>({{element.videoTime | time_filter}})</p>
                        </div>
                        <div v-show="langs == 'vi'" class="gift_ul_item_text">
                            <p data-i18n="i18n_video">视频通话</p>
                            <p>&nbsp ({{element.videoTime | time_filter}}) &nbsp</p>
                            <p data-i18n="i18n_with">与</p>
                            <p @click="find_infor(element.targetUid)" class="gift_ul_item_text_name">{{element.targetNick}}</p>
                        </div>

                        <p class="gift_ul_item_date">{{element.time_hours}}</p>
                    </div>
                    
                    <div class="gift_ul_right">
                        <p>+{{element.diamond}}</p>
                        <img src="./images/ic_zuanshi.png" alt="">
                    </div>
                </div>
            </li>
        </ul> -->
        <!-- 语音列表 -->
        <!-- <ul v-if="listType == 4 ? true : false" class="gift_ul">
            <li class="gift_li" v-for="(item, index) in lists" :key="index">
                <p class="gift_ul_date">{{item.createTime}}</p>
                <div class="gift_ul_item" v-for="(element, i) in item.datas" :key="i">
                    <div class="gift_ul_left">

                        <div v-show="langs == 'en' || langs == 'zh'" class="gift_ul_item_text">
                            <p data-i18n="i18n_withs">与</p>
                            <p @click="find_infor(element.targetUid)" class="gift_ul_item_text_name">{{element.targetNick}}</p>
                            <p data-i18n="i18n_vidce">语音通话</p>
                            <p>({{element.voiceTime | time_filter}})</p>
                        </div>  
                        <div v-show="langs == 'vi'" class="gift_ul_item_text">
                            <p data-i18n="i18n_vidce">语音通话</p>
                            <p>&nbsp ({{element.voiceTime | time_filter}}) &nbsp</p>
                            <p data-i18n="i18n_withs">与</p>
                            <p @click="find_infor(element.targetUid)" class="gift_ul_item_text_name">{{element.targetNick}}</p>
                        </div>  

                        <p class="gift_ul_item_date">{{element.time_hours}}</p>
                    </div>

                    <div class="gift_ul_right">
                        <p>+{{element.diamond}}</p>
                        <img src="./images/ic_zuanshi.png" alt="">
                    </div>
                </div>
            </li>
        </ul> -->
        <!-- 邀请收益列表 -->
        <!-- <ul v-if="listType == 5 ? true : false" class="gift_ul">
            <li class="gift_li" v-for="(item, index) in lists" :key="index">
                <p class="gift_ul_date">{{item.createTime}}</p>
                <div class="gift_ul_item" v-for="(element, i) in item.datas" :key="i">
                    <div class="gift_ul_left">
                        <div v-show="langs == 'en' || langs == 'zh'" class="gift_ul_item_text">
                            <p @click="find_infor(element.targetUid)" class="gift_ul_item_text_name">{{element.targetNick}}</p>
                            <p data-i18n="i18n_commissions">的收益分成奖励</p>
                        </div>
                        <div v-show="langs == 'vi'" class="gift_ul_item_text">
                            <p data-i18n="i18n_commissions">的收益分成奖励</p>
                            <p @click="find_infor(element.targetUid)" class="gift_ul_item_text_name">{{element.targetNick}}</p>
                        </div>
                        <p class="gift_ul_item_date">{{element.time_hours}}</p>
                    </div>

                    <div class="gift_ul_right">
                        <p>+{{element.diamond}}</p>
                        <img src="./images/ic_zuanshi.png" alt="">
                    </div>
                </div>
            </li>
        </ul> -->
        <!-- 系统赠送列表 -->
        <!-- <ul v-if="listType == 6 ? true : false" class="gift_ul">
            <li class="gift_li" v-for="(item, index) in lists" :key="index">
                <p class="gift_ul_date">{{item.createTime}}</p>
                <div class="gift_ul_item" v-for="(element, i) in item.datas" :key="i">
                    <div class="gift_ul_left">
                        <div class="gift_ul_item_text">
                            <p data-i18n="i18n_system_sent">系统赠送</p>
                        </div>
                        <p class="gift_ul_item_date">{{element.time_hours}}</p>
                    </div>

                    <div class="gift_ul_right">
                        <p>+{{element.diamond}}</p>
                        <img src="./images/ic_zuanshi.png" alt="">
                    </div>
                </div>
            </li>
        </ul> -->
        <!-- 消费钻石列表 -->
        <!-- <ul v-if="listType == 7 ? true : false" class="gift_ul">
            <li class="gift_li" v-for="(item, index) in lists" :key="index">
                <p class="gift_ul_date">{{item.createTime}}</p>
                <div class="gift_ul_item" v-for="(element, i) in item.datas" :key="i">

                    <div class="gift_ul_left">
                        <div v-show="element.billType == 91 ? true : false" class="gift_ul_item_text">
                            <p data-i18n="i18n_withdraw">提现了</p>
                            <p>&nbsp ${{element.amount}}</p>
                        </div>
                        <div v-show="element.billType == 90 ? true : false" class="gift_ul_item_text">
                            <p data-i18n="i18n_exchange">兑换了</p>
                            <p>&nbsp {{element.amount}}</p>
                            <p data-i18n="i18n_golds">金币</p>
                        </div>
                        <p class="gift_ul_item_date">{{element.time_hours}}</p>
                    </div>

                    <div class="gift_ul_right">
                        <p class="color">-{{element.diamond}}</p>
                        <img src="./images/ic_zuanshi.png" alt="">
                    </div>
                </div>
            </li>
        </ul> -->
        </template>
    </div>
    <script src="./lib/eruda.min.js"></script>
    <script>eruda.init();</script>

    <script src="./lib/day@1.8.21.js"></script>
    <script src="./lib/vue@2.6.min.js"></script>
    <script src="./lib/vant@2.12.js"></script>
    <script src="./lib/flexible.js"></script>
    <script src="./lib/jquery.main.js"></script>
    <script src="./lib/jquery.i18n.js"></script>
    <script src="./lib/jquery.i18n.messagestore.js"></script>
    <script src="./lib/swiper.min.js"></script>
    <script src="./js/util.js"></script>
    <script src="./js/index.js"></script>
</body>
</html>