body {
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto;
}
@media screen and (min-width: 750px) {
  html {
    font-size: 37.5px !important;
  }
}
.view {
  margin: 0 0.8rem;
  position: relative;
}
.box {
  margin-bottom: 1.92rem;
}
.box .box_title {
  font-size: 0.8rem;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #1B1C33;
  margin: 1.6rem 0 0.5333rem 0;
}
.box .box_content {
  width: 100%;
  height: 3.2rem;
  background: #F8F8F8;
  border-radius: 1.0667rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.8rem;
}
.box .box_content .box_content_us1 {
  font-size: 1.0667rem;
  font-family: DIN-Bold, DIN;
  font-weight: bold;
  color: #1B1C33;
}
.box .box_content .box_content_num {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  font-family: DIN-Bold, DIN;
  font-weight: bold;
  color: #1B1C33;
}
.box .box_content .box_content_num .box_content_num_diamond {
  display: flex;
  align-items: center;
}
.box .box_content .box_content_num .box_content_num_diamond img {
  width: 0.9333rem;
  height: 0.9333rem;
}
.box .box_content .box_content_num .box_content_num_img {
  width: 0.3733rem;
  height: 0.6933rem;
}
.box .box_content .box_content_us {
  font-size: 0.7467rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #C4C4CC;
}
.box .box_content img {
  width: 0.3733rem;
  height: 0.6933rem;
}
.box2 .box2_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5333rem;
}
.box2 .box2_title .box2_title_text {
  font-size: 0.8rem;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #1B1C33;
}
.box2 .box2_title img {
  width: 1.1733rem;
  height: 1.1733rem;
}
.box2 .box2_content {
  width: 100%;
  height: 3.7333rem;
  border: 0.0267rem dashed #9D9D9D;
  border-radius: 1.0667rem;
  padding: 0.5333rem 0.8rem;
  display: flex;
  align-items: center;
  margin-bottom: 1.0667rem;
}
.box2 .box2_content .box2_content_img {
  width: 2.6667rem;
  height: 2.6667rem;
  background: #F8F8F8;
  border-radius: 0.6667rem;
  margin-right: 0.8rem;
  position: relative;
}
.box2 .box2_content .box2_content_img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box2 .box2_content p {
  font-size: 0.6933rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #1B1C33;
}
.box2 .box2_yinhangka {
  width: 100%;
  height: 6.5067rem;
  background: url("../images/bg_yinhangka.png") no-repeat;
  background-size: cover;
  margin-bottom: 1.0667rem;
  color: #FFFFFF;
}
.box2 .box2_yinhangka .box2_yinhangka_top {
  width: 100%;
  height: 4.3733rem;
  border-bottom: 0.0267rem solid #4B4C62;
  padding: 0.8rem 0 0.9067rem 0.8rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.48rem;
  position: relative;
}
.box2 .box2_yinhangka .box2_yinhangka_top .box2_yinhangka_top_img {
  width: 2.6667rem;
  height: 2.6667rem;
  background-color: #FFFFFF;
  border-radius: 0.64rem;
  margin-right: 0.8rem;
  position: relative;
}
.box2 .box2_yinhangka .box2_yinhangka_top .box2_yinhangka_top_img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box2 .box2_yinhangka .box2_yinhangka_top .box2_yinhangka_top_userinfo .box2_yinhangka_userinfo_num {
  font-size: 0.9067rem;
  font-family: DIN-Bold, DIN;
  font-weight: bold;
  margin-bottom: 0.1867rem;
}
.box2 .box2_yinhangka .box2_yinhangka_top .box2_yinhangka_top_userinfo .box2_yinhangka_userinfo_text {
  font-size: 0.6933rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
}
.box2 .box2_yinhangka .box2_yinhangka_top .selected {
  width: 3.4133rem;
  height: 1.0133rem;
  background: #FFD76A;
  background-size: cover;
  font-size: 0.5867rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #703713;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  line-height: 1.0133rem;
  border-radius: 0px 0.88rem;
  display: none;
}
.box2 .box2_yinhangka .box2_yinhangka_bottom {
  display: flex;
  width: 100%;
  font-size: 0.6933rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
}
.box2 .box2_yinhangka .box2_yinhangka_bottom .box2_yinhangka_bottom_left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box2 .box2_yinhangka .box2_yinhangka_bottom .box2_yinhangka_bottom_right {
  width: 50%;
  border-left: 0.0267rem solid #4B4C62;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box2 .box2_yinhangka .box2_yinhangka_bottom img {
  width: 0.6933rem;
  height: 0.6933rem;
  margin-right: 0.2667rem;
}
.btn {
  width: 94%;
  height: 2.6667rem;
  background: #EBEBEB;
  border-radius: 66px;
  font-size: 0.9067rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #C4C4CC;
  border: none;
  position: fixed;
  bottom: 0.48rem;
  left: 50%;
  transform: translate(-50%);
}
.hint_view {
  width: 14.9333rem;
  height: 30.9467rem;
  background: #FFFFFF;
  border-radius: 1.3333rem;
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.6933rem 1.12rem 1.28rem 1.12rem;
  display: none;
}
.hint_view .hint_view_title {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 1.4933rem;
}
.hint_view .hint_view_title .hint_view_title_text {
  font-size: 0.9067rem;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #1B1C33;
}
.hint_view .hint_view_title img {
  position: absolute;
  right: 0;
  top: 0.2rem;
  width: 0.7467rem;
  height: 0.7467rem;
}
.hint_view .hint_view_text {
  font-size: 0.7467rem;
}
.hint_view .hint_view_text .copy {
  color: #257FE4;
}
.hint_view .hint_view_text p {
  margin-bottom: 1rem;
}
.show,
.shows {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99;
  position: fixed;
  top: 0;
  display: none;
}
.bottom_ul {
  width: 100%;
  height: 20.8rem;
  position: fixed;
  bottom: -20.8rem;
  left: 0;
  background-color: #FFFFFF;
  transition: all 0.5s ease-in;
  z-index: 999;
  padding: 0.96rem 0.8rem;
  border-radius: 1.0667rem 1.0667rem 0 0;
  overflow-y: scroll;
}
.bottom_ul .bottom_ul_title {
  display: flex;
  margin-bottom: 1.6533rem;
  align-items: flex-end;
  justify-content: space-between;
}
.bottom_ul .bottom_ul_title p {
  font-size: 0.9067rem;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #1B1C33;
}
.bottom_ul .bottom_ul_title .bottom_ul_title_yve {
  font-size: 0.7467rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #8D8E99;
}
.bottom_ul .bottom_ul_title .bottom_ul_title_num {
  font-size: 0.6933rem;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #FF8386;
}
.bottom_ul ul {
  margin: 0;
}
.bottom_ul ul li {
  width: 100%;
  height: 3.2rem;
  margin-bottom: 0.5333rem;
  background: #F8F4FF;
  border-radius: 1.0667rem;
  padding: 0 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom_ul ul li .bottom_li_us {
  font-size: 1.0667rem;
  font-family: DIN-Bold, DIN;
  font-weight: bold;
  color: #1B1C33;
}
.bottom_ul ul li button {
  width: 4.2667rem;
  height: 1.92rem;
  border-radius: 0.96rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #997DFE;
}
.bottom_ul ul li button img {
  width: 0.9067rem;
  height: 0.9067rem;
}
.bottom_ul ul li button span {
  font-size: 0.8rem;
  font-family: DIN-Bold, DIN;
  font-weight: bold;
  color: #FFFFFF;
}
.box2 .box2_content:last-child {
  margin-bottom: 4.2133rem;
}
.enter_password_box {
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.enter_password {
  width: 14.9333rem;
  height: 10.6667rem;
  background: #FFFFFF;
  border-radius: 1.3333rem;
  text-align: center;
  position: relative;
}
.enter_password .enter_password_title {
  display: inline-block;
  font-size: 0.9067rem;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #1B1C33;
  margin: 0.6933rem 0 0.64rem 0;
}
.enter_password img {
  width: 0.7467rem;
  height: 0.7467rem;
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
}
.enter_password .enter_password_text {
  font-size: 0.6933rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #1B1C33;
  margin-bottom: 1.6267rem;
}
.enter_password .enter_password_num {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 0.5867rem;
}
.enter_password .enter_password_num div {
  width: 2.6667rem;
  height: 2.9867rem;
  background: #F2F2F3;
  border-radius: 0.64rem;
  position: relative;
}
.enter_password .enter_password_num div .circle {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: #898989;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.enter_password input {
  height: 2.9867rem;
  width: 100%;
  position: absolute;
  left: 0;
  top: 5rem;
  caret-color: transparent;
  opacity: 0.01;
}
.enter_password .enter_password_hint {
  font-size: 0.5867rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #FF4B3F;
}
.delete {
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.del_box {
  width: 14.9333rem;
  height: 7.1467rem;
  background: #FFF;
  border-radius: 1.3333rem;
  text-align: center;
  display: flex;
  flex-flow: column;
}
.del_box .del_box_title {
  font-size: 0.7467rem;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #1B1C33;
  margin: 1.7067rem 0;
  display: inline-block;
}
.del_box .del_box_click {
  flex: 1;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}
.del_box .del_box_click .del_box_click_off {
  padding: 1rem;
  width: 50%;
  height: 100%;
  font-size: 0.7467rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #8D8E99;
}
.del_box .del_box_click .del_box_click_del {
  padding: 1rem;
  width: 50%;
  height: 100%;
  background: linear-gradient(270deg, #FF8386 0%, #FFA3A6 100%);
  border-radius: 1.3333rem 0px 1.3333rem 0px;
  font-size: 0.7467rem;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #FFFFFF;
}
