body {
    min-width: 320px;
    max-width: 750px;
    margin: 0 auto;
    // height: 1200px;
    // overflow: hidden;
}

// a {
//     text-decoration: none;
// }

@media screen and (min-width: 750px) {
    html {
        font-size: 37.5px !important;
    }
}

.view {
    margin: 0 .8rem;
    position: relative;
}
// 提现金额区域。。
.box {
    margin-bottom: 1.92rem;
    .box_title {
        font-size: .8rem;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #1B1C33;
        margin: 1.6rem 0 .5333rem 0;
    }
    .box_content {
        width: 100%;
        height: 3.2rem;
        background: #F8F8F8;
        border-radius: 1.0667rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 .8rem;
        .box_content_us1 {
            font-size: 1.0667rem;
            font-family: DIN-Bold, DIN;
            font-weight: bold;
            color: #1B1C33;
        }
        .box_content_num {
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: .8rem;
            font-family: DIN-Bold, DIN;
            font-weight: bold;
            color: #1B1C33;
            .box_content_num_diamond {
                display: flex;
                align-items: center;
                img {
                    width: .9333rem;
                    height: .9333rem;
                }
            }
            .box_content_num_img {
                width: .3733rem;
                height: .6933rem;
            }
        }
        // 未选择时的样式。。
        .box_content_us {
            font-size: .7467rem;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #C4C4CC;
        }
        img {
            width: .3733rem;
            height: .6933rem;
        }
    }
}
// 提现方式区域。。
.box2 {
    .box2_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: .5333rem;
        .box2_title_text {
            font-size: .8rem;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #1B1C33;
        }
        img {
            width: 1.1733rem;
            height: 1.1733rem;
        }
    }
    .box2_content {
        width: 100%;
        height: 3.7333rem;
        border: .0267rem dashed #9D9D9D;
        border-radius: 1.0667rem;
        padding: .5333rem .8rem;
        // display: flex;
        display: none;
        align-items: center;
        margin-bottom: 1.0667rem;
        .box2_content_img {
            width: 2.6667rem;
            height: 2.6667rem;
            background: #F8F8F8;
            border-radius: .6667rem;
            margin-right: .8rem;
            position: relative;
            img {
                // width: 2.48rem;
                // height: .96rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        p {
            font-size: .6933rem;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #1B1C33;
        }
    }
    .box2_yinhangka {
        // width: 18.4rem;
        width: 100%;
        height: 6.5067rem;
        background: url("../images/bg_yinhangka.png") no-repeat;
        background-size: cover;
        margin-bottom: 1.0667rem;
        color: #FFFFFF;
        .box2_yinhangka_top {
            width: 100%;
            height: 4.3733rem;
            // opacity: 0.2;
            border-bottom: .0267rem solid #4B4C62;
            padding: .8rem 0 .9067rem .8rem;
            display: flex;
            align-items: center;
            margin-bottom: .48rem;
            position: relative;
            .box2_yinhangka_top_img {
                width: 2.6667rem;
                height: 2.6667rem;
                background-color: #FFFFFF;
                border-radius: .64rem;
                margin-right: .8rem;
                position: relative;
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .box2_yinhangka_top_userinfo {
                .box2_yinhangka_userinfo_num {
                    font-size: .9067rem;
                    font-family: DIN-Bold, DIN;
                    font-weight: bold;
                    margin-bottom: .1867rem;
                }
                .box2_yinhangka_userinfo_text {
                    font-size: .6933rem;
                    font-family: PingFangSC-Regular, PingFang SC;
                    font-weight: 400;
                }
            }
            .selected {
                width: 3.4133rem;
                height: 1.0133rem;
                // background: url("../images/jvxing.png") no-repeat;
                background: #FFD76A;
                background-size: cover;
                font-size: .5867rem;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: #703713;
                position: absolute;
                right: 0;
                top: 0;
                text-align: center;
                line-height: 1.0133rem;
                // border-radius: 0px .5333rem;
                border-radius: 0px .88rem;
                display: none;
            }
        }
        .box2_yinhangka_bottom{
            display: flex;
            width: 100%;
            font-size: .6933rem;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            // padding-bottom: .4533rem;
            .box2_yinhangka_bottom_left {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center; 
            }
            .box2_yinhangka_bottom_right {
                width: 50%;
                // opacity: 0.2;
                border-left: .0267rem solid #4B4C62;
                display: flex;
                justify-content: center;
                align-items: center;    
            }
            img {
                width: .6933rem;
                height: .6933rem;
                margin-right: .2667rem;
            }
        }
    }
}
// 提现按钮。。
.btn {
// .btns_submit {
    width: 94%;
    height: 2.6667rem;
    // background: linear-gradient(270deg, #FF8386 0%, #FFA3A6 100%);
    // box-shadow: 0px 2px 20px 0px rgba(255,131,134,0.4);
    background: #EBEBEB;
    border-radius: 66px;
    font-size: .9067rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #C4C4CC;
    border: none;
    position: fixed;
    bottom: .48rem;
    left: 50%;
    transform: translate(-50%);
}
.password {
    width: 100%;
    height: 2.6667rem;
    border: 1px solid red;
    position: fixed;
    bottom: .48rem;
    left: 50%;
    transform: translate(-50%);
    display: none;
    opacity: 0;
}
// 问号提示框。。
.hint_view {
    width: 14.9333rem;
    height: 30.9467rem;
    background: #FFFFFF;
    border-radius: 1.3333rem;
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: .6933rem 1.12rem 1.28rem 1.12rem;
    display: none;
    .hint_view_title {
        display: flex;
        justify-content: center;
        position: relative;
        margin-bottom: 1.4933rem;
        .hint_view_title_text {
            font-size: .9067rem;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #1B1C33;
        }
        img {
            position: absolute;
            right: 0;
            top: .2rem;
            width: .7467rem;
            height: .7467rem;
        }
    }
    .hint_view_text {
        font-size: .7467rem;
        height: 26.6667rem;
        overflow-y: auto;
        .copy {
            color: #257FE4;
        }
        p {
            margin-bottom: 1rem;
        }
    }
}
// 遮罩。
.show, .shows{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 99;
    position: fixed;
    top: 0;
    display: none;
    // display: block;
}

// <!-- 提现选项列表，。。 -->
.bottom_ul {
    width: 100%;
    height: 20.8rem;
    position: fixed;
    bottom: -20.8rem;
    left: 0;
    background-color: #FFFFFF;
    transition: all .5s ease-in;
    z-index: 999;
    padding: .96rem .8rem;
    border-radius: 1.0667rem 1.0667rem 0 0;
    // overflow-y: scroll;
    .bottom_ul_title {
        display: flex;
        margin-bottom: 1.6533rem;
        align-items: flex-end;
        justify-content: space-between;
        p {
            font-size: .9067rem;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #1B1C33;
        }
        .bottom_ul_title_yve {
            font-size: .7467rem;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #8D8E99;
        }
        .bottom_ul_title_num {
            font-size: .6933rem;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #FF8386;
        }
    }
    ul {
        margin: 0;
        height: 15rem;
        overflow-y: scroll;
        li {
            width: 100%;
            height: 3.2rem;
            margin-bottom: .5333rem;
            background: #F8F4FF;
            border-radius: 1.0667rem;
            padding: 0 .8rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .bottom_li_us {
                font-size: 1.0667rem;
                font-family: DIN-Bold, DIN;
                font-weight: bold;
                color: #1B1C33;
            }
            button {
                width: 4.2667rem;
                height: 1.92rem;
                border-radius: .96rem;
                border: none;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                background-color: #997DFE;
                img {
                    width: .9067rem;
                    height: .9067rem
                }
                span {
                    font-size: .8rem;
                    font-family: DIN-Bold, DIN;
                    font-weight: bold;
                    color: #FFFFFF;
                }
            }
        }
    }
}

.box2 .box2_content:last-child {
    margin-bottom: 4.2133rem;
}

.enter_password_box {
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.enter_password {
    width: 14.9333rem;
    height: 10.6667rem;
    background: #FFFFFF;
    border-radius: 1.3333rem;
    text-align: center;
    position: relative;
    .enter_password_title {
        display: inline-block;
        font-size: .9067rem;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #1B1C33;
        margin: .6933rem 0 .64rem 0;
    }
    img {
        width: .7467rem;
        height: .7467rem;
        position: absolute;
        top: .8rem;
        right: .8rem;
    }
    .enter_password_text {
        font-size: .6933rem;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #1B1C33;
        margin-bottom: 1.6267rem;
    }
    .enter_password_num {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: .5867rem;
        div {
            width: 2.6667rem;
            height: 2.9867rem;
            background: #F2F2F3;
            border-radius: .64rem;
            // line-height: 2.9867rem;
            position: relative;
            .circle {
                width: .8rem;
                height: .8rem;
                border-radius: 50%;
                background: #898989;
                // display: inline-block;
                display: none;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    } 
    input {
        height: 2.9867rem;
        width: 100%;
        position: absolute;
        left: 0;
        top: 5rem;
        // border: .0267rem solid red;
        // padding-left: 2.0267rem;
        // letter-spacing: 2.6667rem;
        caret-color: transparent;
        opacity: 0.01;
    }
    .enter_password_hint {
        font-size: .5867rem;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #FF4B3F;
    }
}

// <!-- 删除绑定银行卡事件 -->
.delete {
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.del_box {
    width: 14.9333rem;
    height: 7.1467rem;
    background: #FFF;
    border-radius: 1.3333rem;
    text-align: center;
    display: flex;
    flex-flow: column;
    .del_box_title {
        font-size: .7467rem;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #1B1C33;
        margin: 1.7067rem 0;
        display: inline-block;
        // height: 1.0667rem
    }
    .del_box_click {
        flex: 1;
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
        .del_box_click_off {
            padding: 1rem;
            width: 50%;
            height: 100%;
            font-size: .7467rem;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #8D8E99;
            // position: absolute;
            // bottom: 0;
            // left: 0;
        }
        .del_box_click_del {
            padding: 1rem;
            // position: absolute;
            // right: 0;
            // bottom: 0;
            width: 50%;
            height: 100%;
            background: linear-gradient(270deg, #FF8386 0%, #FFA3A6 100%);
            border-radius: 1.3333rem 0px 1.3333rem 0px;
            font-size: .7467rem;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #FFFFFF;
        }
    }
}