body {
    min-width: 320px;
    max-width: 750px;
    margin: 0 auto;
    // height: 1200px;
    background: url("../images/bg@2x.png") no-repeat;
	background-size: cover;
}
// html {
//     position: relative;
// }

// a {
//     text-decoration: none;
// }

@media screen and (min-width: 750px) {
    html {
        font-size: 37.5px !important;
    }
}

// 任务模块的轮播图
.task {
    .study_fo {
        padding: .4267rem 0rem .16rem .16rem;
    }
    .swiper-slide {
        width: 6.1867rem;
        height: 6.9867rem;
        text-align: -webkit-center;
        .num {
            width: 2.5867rem;
            height: 1.8667rem;
            font-size: 1.44rem;
            font-family: DINPro-Medium, DINPro;
            font-weight: 500;
            color: #FFFFFF;
            line-height: 6.9867rem;
            margin-bottom: .3733rem;
        }
        .text {
            // width: 2.56rem;
            // height: .88rem;
            font-size: .64rem;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #FFFFFF;
            line-height: 5.12rem;
        }
    }
    .meet_number {
        background: url("../images/相遇人数@2x.png") no-repeat;
        background-size: cover;
    }
    .reply_message {
        background: url("../images/回复消息@2x.png") no-repeat;
        background-size: cover;
    }
    .received_the_news {
        background: url("../images/收到消息@2x.png") no-repeat;
        background-size: cover;
    }
    .valid_date {
        background: url("../images/有效天数@2x.png") no-repeat;
        background-size: cover;
    }
    .new_player_gift {
        background: url("../images/新手礼物@2x.png") no-repeat;
        background-size: cover;
    }
}

.invitation_btn {
    width: 18.4rem;
    height: 3.2rem;
    border-radius: 1.0667rem;
    overflow: hidden;
    margin: auto;
    margin-bottom: 1.3333rem;
}

.content {
    width: 100%;
    // height: 20rem;
    background: #FFFFFF;
    border-radius: 1.04rem 1.04rem 0px 0px;
    text-align: center;
    padding: .8rem .8rem .3733rem .8rem;
    font-size: .8rem;
    .title {
        font-size: .8rem;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #1B1C33;
        margin-bottom: .8rem;
    }
    .list_item {
        background: #F4FCFF;
        border-radius: .64rem;
        padding: .8rem .96rem .8rem 1.0667rem;
        position: relative;
        margin-bottom: .6933rem;
        .item_date {
            width: 2.0267rem;
            height: 1.0133rem;
            position: absolute;
            right: 0;
            top: 0;
            font-size: .5867rem;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #FFFFFF;
            background: #7AB7FC;
            border-radius: 0 .64rem;
            line-height: 1.0133rem;
        }
        .item_content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .item_content_btn_reward {
                width: 3.4667rem;
                height: 1.4933rem;
                background: #C8DDEB;
                border-radius: .8rem;
                font-size: .5867rem;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                color: #FFFFFF;
                line-height: 1.4933rem;
            }
            .item_content_left {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .list_item_diamonds{
                    font-size: .96rem;
                    font-family: PingFangSC-Medium, PingFang SC;
                    font-weight: 500;
                    color: #1B1C33;
                    margin-bottom: .2133rem;
                }
                .list_item_reward {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    margin-bottom: .1067rem;
                    font-size: .64rem;
                    font-family: PingFangSC-Regular, PingFang SC;
                    font-weight: 400;
                    color: #1BA7C5;
                }
                .list_item_rewards {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    font-size: .64rem;
                    font-family: PingFangSC-Regular, PingFang SC;
                    font-weight: 400;
                    color: #1BA7C5;
                }
                .list_item_reward_title, .lilist_item_reward_num {
                    margin-right: .2667rem;
                }
                .lilist_item_reward_img {
                    width: .5067rem;
                    height: .5067rem;
                }
            }
        }
    }
}

.pop {
    // display: none;
}

.pop-up {
    z-index: 999;
    width: 12.2667rem;
    height: 9.3067rem;
    background: linear-gradient(180deg, #FFE3FB 0%, #FFFFFF 100%);
    border-radius: .8rem;
    // margin: 0 auto;
    position: fixed;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    .pop-up_img {
        width: 6.4rem;
        height: 6.4rem;
        background: url("../images/img_钻石.png") no-repeat;
        background-size: cover;
        margin: 0 auto;
        position: absolute;
        top: 8%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .pop-up_text {
        font-size: .8rem;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #1B1C33;
        text-align: center;
        line-height: 9.3067rem;
    }
    .pop-up_ok {
        width: 9.6rem;
        height: 2.1333rem;
        background: linear-gradient(270deg, #FF8386 0%, #FFA3A6 100%);
        box-shadow: 0px .0533rem .2667rem 0px rgba(255,131,134,0.4);
        border-radius: 1.0667rem;
        text-align: center;
        line-height: 2.1333rem;
        position: absolute;
        left: 1.3333rem;
        bottom: 1.0667rem;

        font-size: .8rem;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: #FFFFFF;
    }
}

.show {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    z-index: 99;
    position: fixed;
    top: 0;
    display: none;
}

.active {
    display: none;
}

.status {
    background: #65BEFE;
}

.none {
    background: none;
    color: #1BA7C5;
}

.colors {
    color: #999999;
}