body {
    min-width: 320px;
    max-width: 750px;
    margin: 0 auto;
    // height: 1200px;
    background: url("../images/bg@2x.png") no-repeat;
	background-size: cover;
}

// a {
//     text-decoration: none;
// }

@media screen and (min-width: 750px) {
    html {
        font-size: 37.5px !important;
    }
}

// 任务模块的轮播图
.task {
    // margin-top: .4267rem;
  .study_fo {
    padding: .4267rem 0rem .16rem .16rem;
  }
  .swiper-slide {
    width: 6.1867rem !important;
    height: 6.9867rem;
    // font-size: 18px;
    // background: #fff;
    // background-color: #fff;
    // border-radius: 0.266667rem;
    // box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    // p {
    //   font-size: 0.693333rem;
    //   color: #ff4400;
    //   padding: 0 0.266667rem;
    // }
  }
  .meet_number {
    background: url("../images/相遇人数@2x.png") no-repeat;
	background-size: cover;
  }
  .reply_message {
    background: url("../images/回复消息@2x.png") no-repeat;
	background-size: cover;
  }
  .received_the_news {
    background: url("../images/收到消息@2x.png") no-repeat;
	background-size: cover;
  }
  .valid_date {
    background: url("../images/有效天数@2x.png") no-repeat;
	background-size: cover;
  }
  .new_player_gift {
    background: url("../images/新手礼物@2x.png") no-repeat;
	background-size: cover;
  }
}