<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-i18n="i18n_diamond_mission"></title>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/swiper.min.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/vant@2.12.css"/>
</head>
<body data-lang="cn">
    <div id="app">
        <template>  
        <!-- 任务模块。。 -->
        <div class="title">
        <section class="task">
            <div class="swiper-container study_fo">
                <div class="swiper-wrapper">
                    <div class="swiper-slide meet_number">
                        <div class="div">
                            <p class="num num1"></p>
                            <p class="text" data-i18n="i18n_meet_number"></p>
                        </div>
                    </div>
                    <div class="swiper-slide reply_message">
                        <div class="div">
                            <p class="num num2"></p>
                            <p class="text" data-i18n="i18n_reply_message"></p>
                        </div>
                    </div>
                    <div class="swiper-slide received_the_news">
                        <div class="div">
                            <p class="num num3"></p>
                            <p class="text" data-i18n="i18n_received_the_news"></p>
                        </div>
                    </div>
                    <div class="swiper-slide valid_date">
                        <div class="div">
                            <p class="num num4"></p>
                            <p class="text" data-i18n="i18n_valid_date"></p>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </section>
        <!-- 图片按钮部分 -->
        <section class="invitation_btn">
            <a href="javascript:void(0)" class="url">
                <img class="invitation_btn_imgags" src="" alt="">
            </a>
        </section>
        </div>
        <!-- 钻石任务列表部分，标题导航 ...-->
        <section class="tab_content">
            <van-tabs swipeable swipe-threshold=4 animated sticky offset-top="12.14rem" @change="change">
                <van-tab name="1">
                    <div slot="title">新人</div>
                    <div class="new_user" v-for="">
                        <div class="new_user_left">
                            <div class="new_user_title">完善资料</div>
                            <div class="new_user_content">填写所有资料信息</div>
                        </div>
                        <img class="img_open" src="./images/open1.png" alt="">
                    </div>

                    <div class="new_user" v-for="">
                        <div class="new_user_left">
                            <div class="new_user_title">完善资料</div>
                            <div class="new_user_content">填写所有资料信息</div>
                        </div>
                        <div class="new_user_right">
                            <van-popover placement="bottom-end" v-model="showPopover" theme="dark" trigger="click" @open="open" @close="close">
                                <div class="popover">开启青铜宝箱，最高可获得X钻石。</div>
                                <template #reference>
                                    <img class="img_off" src="./images/off1.png" alt="">
                                </template>
                            </van-popover>
                        </div>
                    </div>

                    <div class="new_user" v-for="">
                        <div class="new_user_left">
                            <div class="new_user_title">完善资料</div>
                            <div class="new_user_content">填写所有资料信息</div>
                        </div>
                        <div class="new_user_state">已领取</div>
                    </div>
                </van-tab>

                <van-tab name="2">
                    <div slot="title">今日</div>
                    <div class="new_today" v-for="(item,i) in list" :key="i">
                        <van-tabs animated>
                            <van-tab name="a" v-for="(data,j) in item.tasks" :key="j">
                                <div slot="title">Lv {{data.id}}</div>
                                <div class="today">
                                    <div class="today_left">
                                        <div class="today_title">{{data.lang[lang].title}}</div>
                                        <div class="today_content">
                                            <span>{{data.lang[lang].desc}}</span>
                                            <span>{{data.value}}</span>/<span>{{data.need}}</span>&nbsp
                                            <img v-show="data.status == 1 && data.status == 2" src="./images/ic-gouxuan@2x.png" alt="">
                                        </div>
                                    </div>
                                    <div class="today_right" v-if="data.status == 0">
                                        <van-popover placement="bottom-end" v-model="showPopover" theme="dark" trigger="click" @open="open" @close="close">
                                            <div class="popover">{{data.rewardBox.lang[lang].desc}}</div>
                                            <template #reference>
                                                <img class="img_off" :src=`./images/off${data.id}.png` alt="">
                                            </template>
                                        </van-popover>
                                    </div>
                                    <img v-if="data.status == 1" class="img_open" :src=`./images/open${data.id}.png` alt="">
                                    <div v-if="data.status == 2" class="today_state">已领取</div>
                                </div>
                            </van-tab>
                            <!-- <van-tab name="b">
                                <div slot="title">Lv2</div>
                                <div>内容bbbbbbbb</div>
                            </van-tab>
                            <van-tab name="c">
                                <div slot="title">Lv3</div>
                                <div>内容cccccc</div>
                            </van-tab> -->
                            
                        </van-tabs>
                    </div>
                    <!-- <div class="new_today" v-for="">
                        <van-tabs animated>
                            <van-tab name="a" v-for="">
                                <div slot="title">Lv1</div>
                                <div class="today" v-for="">
                                    <div class="today_left">
                                        <div class="today_title">完善资料</div>
                                        <div class="today_content">填写所有资料信息</div>
                                    </div>
                                    <img class="img_open" src="./images/open1.png" alt="">
                                </div>
                            </van-tab>
                            <van-tab name="b">
                                <div slot="title">Lv2</div>
                                <div>内容bbbbbbbb</div>
                            </van-tab>
                            <van-tab name="c">
                                <div slot="title">Lv3</div>
                                <div>内容cccccc</div>
                            </van-tab>
                            
                        </van-tabs>
                    </div>
                    <div class="new_today" v-for="">
                        <div>9999999999999999</div>
                    </div> -->
                </van-tab>

                <van-tab name="3">
                    <div slot="title">本周</div>
                    <div class="centers" v-for="index in 10">内容2222</div>
                </van-tab>
            </van-tabs>
        </section>

        <!-- 领取弹窗。。 -->
        </template>
    </div>
  

    <script src="./lib/eruda.min.js"></script>
    <script>eruda.init();</script>

    <script src="./lib/vue@2.6.min.js"></script>
    <script src="./lib/vant@2.12.js"></script>
    <script src="./lib/flexible.js"></script>
    <script src="./lib/jquery.main.js"></script>
    <script src="./lib/jquery.i18n.js"></script>
    <script src="./lib/jquery.i18n.messagestore.js"></script>
    <script src="./lib/swiper.min.js"></script>
    <script src="./js/util.js"></script>
    <script src="./js/index.js"></script>
</body>
</html>