<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-i18n="i18n_detail"></title>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/index.css">
    <!-- 引入样式文件 -->
    <link rel="stylesheet" href="./css/vant@2.12.css"/>
</head> 
<body>
    <div id="app">
        <template>
        <div class = "tab_title">
            <div class="header">
                <div class="header_top" @click="header_top_click">
                    <div><img class="header_top_img1" src="./images/icon_rili.png" alt=""></div>
                    <data_div>{{startDate}}</data_div>
                    <div class="header_top_zhi" data-i18n="i18n_to"></div>
                    <data_div>{{endDate}}</data_div>
                    <div><img class="header_top_img2" src="./images/icon_sang.png" alt=""></div>
                </div>
                <div class="header_down" v-if="pool_list">
                    <div class="header_down_get">
                        <span class='diamond' data-i18n="i18n_pay"></span>
                        <span class='num'>{{decrDiamond}}</span>
                    </div>
                    <div class="header_down_get">
                        <span class='diamond' data-i18n="i18n_get"></span>
                        <span class='num'>{{incrDiamond}}</span>
                    </div>
                </div>
            </div>
        </div>
            
        <!-- 标题导航 ...-->
        <van-tabs swipeable swipe-threshold=4 sticky offset-top="5.1rem" @change="change" >
            <van-tab :title="1232" name=2>
                <div slot="title" data-i18n="i18n_pay_detail">消费明细</div>
                <van-index-bar :sticky-offset-top=130 highlight-color="#999999">
                    <ul v-if="listType == 2 ? true : false" class="gift_ul">
                        <li class="gift_li" v-for="(item, index) in lists" :key="index">

                            <van-index-anchor index="1">{{item.createTime}}</van-index-anchor>
                            <div class="gift_ul_item" v-for="(element, i) in item.datas" :key="i">
                                <!-- 发消息扣金币 -->
                                <div class="gift_ul_left" v-if="element.billType == 31">
                                    <div class="gift_ul_item_text">
                                        <p data-i18n="i18n_send_message">发消息给</p>
                                        <p @click="find_infor(element.targetUid)" class="gift_ul_item_text_name">{{element.targetNick}}</p>
                                    </div>
                                    <p class="gift_ul_item_date">{{element.time_hours}}</p>
                                </div>
                                <!-- 赠送礼物扣金币 -->
                                <div class="gift_ul_left" v-if="element.billType == 30 || element.billType == 36">
                                    <div class="gift_ul_item_text">
                                        <p data-i18n="i18n_Send">赠送</p>
                                        <p>&nbsp {{element.giftName}}x{{element.giftNum}} &nbsp</p>
                                        <p data-i18n="i18n_tos">给</p>
                                        <p @click="find_infor(element.targetUid)" class="gift_ul_item_text_name">{{element.targetNick}}</p>
                                    </div>
                                    <p class="gift_ul_item_date">{{element.time_hours}}</p>
                                </div>
                                <!-- 赠送礼物搭讪扣金币 -->
                                <div class="gift_ul_left" v-if="element.billType == 32">
                                    <div class="gift_ul_item_text">
                                        <p data-i18n="i18n_Send">赠送</p>
                                        <p>&nbsp {{element.giftName}}x{{element.giftNum}} &nbsp</p>
                                        <p data-i18n="i18n_say_hi">搭讪</p>
                                        <p @click="find_infor(element.targetUid)" class="gift_ul_item_text_name">{{element.targetNick}}</p>
                                        <p data-i18n="i18n_say_hi2" v-if="langs == 'vi'" data-i18n="i18n_"></p>
                                    </div>
                                    <p class="gift_ul_item_date">{{element.time_hours}}</p>
                                </div>
                                <!-- 参与金币转盘消费扣金币 -->
                                <div class="gift_ul_left" v-if="element.billType == 33">
                                    <div class="gift_ul_item_text">
                                        <p data-i18n="i18n_play">参与</p>
                                        <!-- <p>&nbsp 金币转盘 &nbsp</p> -->
                                        <!-- <p>消费</p> -->
                                    </div>
                                    <p class="gift_ul_item_date">{{element.time_hours}}</p>
                                </div>
                                <!-- 参与动物乐园消费扣金币 -->
                                <div class="gift_ul_left" v-if="element.billType == 42">
                                    <div class="gift_ul_item_text">
                                        <p data-i18n="i18n_animal">参与</p>
                                        <!-- <p>&nbsp 动物乐园 &nbsp</p>
                                        <p>消费</p> -->
                                    </div>
                                    <p class="gift_ul_item_date">{{element.time_hours}}</p>
                                </div>
                                <!-- 视频通话扣金币 -->
                                <div class="gift_ul_left" v-if="element.billType == 40">

                                    <div v-show="langs == 'zh' || langs == 'en'" class="gift_ul_item_text">
                                        <p data-i18n="i18n_with">与</p>
                                        <p @click="find_infor(element.targetUid)" class="gift_ul_item_text_name">{{element.targetNick}}</p>
                                        <p data-i18n="i18n_Video">视频通话</p>
                                        <p>({{element.videoTime | time_filter}})</p>
                                    </div>
                                    <div v-show="langs == 'vi' " class="gift_ul_item_text">
                                        <p data-i18n="i18n_Video">视频通话</p>
                                        <p>&nbsp ({{element.videoTime | time_filter}}) &nbsp</p>
                                        <p data-i18n="i18n_with">与</p>
                                        <p @click="find_infor(element.targetUid)" class="gift_ul_item_text_name">{{element.targetNick}}</p>
                                    </div>

                                    <p class="gift_ul_item_date">{{element.time_hours}}</p>
                                </div>
                                <!-- 语音通话扣金币 -->
                                <div class="gift_ul_left" v-if="element.billType == 41">
                                    
                                    <div v-show="langs == 'zh' || langs == 'en'" class="gift_ul_item_text">
                                        <p data-i18n="i18n_withs">与</p>
                                        <p @click="find_infor(element.targetUid)" class="gift_ul_item_text_name">{{element.targetNick}}</p>
                                        <p data-i18n="i18n_Voice">语音通话</p>
                                        <p>&nbsp ({{element.voiceTime | time_filter}}) &nbsp</p>
                                    </div>
                                    <div v-show="langs == 'vi' " class="gift_ul_item_text">
                                        <p data-i18n="i18n_Voice">语音通话</p>
                                        <p>&nbsp ({{element.voiceTime | time_filter}}) &nbsp</p>
                                        <p data-i18n="i18n_with">与</p>
                                        <p @click="find_infor(element.targetUid)" class="gift_ul_item_text_name">{{element.targetNick}}</p>
                                    </div>

                                    <p class="gift_ul_item_date">{{element.time_hours}}</p>
                                </div>

                                <div class="gift_ul_right">
                                    <p>-{{element.goldNum}}</p>
                                    <img src="./images/ic_zuanshi.png" alt="">
                                </div>

                            </div>
                        </li>
                    </ul>
                </van-index-bar>
            </van-tab>

            <van-tab :title="456" name=1>
                <div slot="title" data-i18n="i18n_get_detail">获得明细</div>

                <van-index-bar :sticky-offset-top=130 highlight-color="#999999">
                    <ul v-if="listType == 1 ? true : false" class="gift_ul">
                        <li class="gift_li" v-for="(item, index) in lists" :key="index">

                            <van-index-anchor index="1">{{item.createTime}}</van-index-anchor>
                            <div class="gift_ul_item" v-for="(element, i) in item.datas" :key="i">
                                <!-- 充值加金币 -->
                                <div class="gift_ul_left" v-if="element.billType == 1">
                                    <div class="gift_ul_item_text">
                                        <p data-i18n="i18n_recharge">充值</p>
                                    </div>
                                    <p class="gift_ul_item_date">{{element.time_hours}}</p>
                                </div>
                                <!-- 兑换加金币 -->
                                <div class="gift_ul_left" v-if="element.billType == 5">
                                    <div class="gift_ul_item_text">
                                        <p data-i18n="i18n_exchange_golds">兑换金币</p>
                                    </div>
                                    <p class="gift_ul_item_date">{{element.time_hours}}</p>
                                </div>
                                <!-- 领取每日奖励加金币 -->
                                <div class="gift_ul_left" v-if="element.billType == 3">
                                    <div class="gift_ul_item_text">
                                        <p data-i18n="i18n_get_day_ewards">领取每日奖励</p>
                                    </div>
                                    <p class="gift_ul_item_date">{{element.time_hours}}</p>
                                </div>
                                <!-- 系统赠送加金币 -->
                                <div class="gift_ul_left" v-if="element.billType == 2 || element.billType == 6">
                                    <div class="gift_ul_item_text">
                                        <p data-i18n="i18n_system_sent">系统赠送</p>
                                    </div>
                                    <p class="gift_ul_item_date">{{element.time_hours}}</p>
                                </div>
                                <!-- 金币转盘加金币 -->
                                <div class="gift_ul_left" v-if="element.billType == 34">
                                    <div class="gift_ul_item_text">
                                        <p data-i18n="i18n_turntable_add">参与&nbsp 金币转盘 &nbsp奖励</p>
                                    </div>
                                    <p class="gift_ul_item_date">{{element.time_hours}}</p>
                                </div>
                                <!-- 金币转盘退回加金币 -->
                                <div class="gift_ul_left" v-if="element.billType == 35">
                                    <div class="gift_ul_item_text">
                                        <p data-i18n="i18n_turntable_return">参与&nbsp 金币转盘 &nbsp退回</p>
                                    </div>
                                    <p class="gift_ul_item_date">{{element.time_hours}}</p>
                                </div>
                                <!-- 动物乐园加金币 -->
                                <div class="gift_ul_left" v-if="element.billType == 50">
                                    <div class="gift_ul_item_text">
                                        <p data-i18n="i18n_animal_add">参与&nbsp 动物乐园 &nbsp奖励</p>
                                    </div>
                                    <p class="gift_ul_item_date">{{element.time_hours}}</p>
                                </div>
                                <!-- 赠送幸运礼物加金币 -->
                                <div class="gift_ul_left" v-if="element.billType == 9">
                                    <div class="gift_ul_item_text">
                                        <p data-i18n="i18n_lucky_gift">赠送&nbsp 幸运礼物 &nbsp奖励</p>
                                    </div>
                                    <p class="gift_ul_item_date">{{element.time_hours}}</p>
                                </div>
                                <!-- 发消息退回 -->
                                <div class="gift_ul_left" v-if="element.billType == 4">

                                    <div v-show="langs == 'zh' || langs == 'vi'" class="gift_ul_item_text">
                                        <p data-i18n="i18n_send_message">发消息给</p>
                                        <p @click="find_infor(element.targetUid)" class="gift_ul_item_text_name">{{element.targetNick}}</p>
                                        <p data-i18n="i18n_gold_return">金币退回</p>
                                    </div>
                                    <div v-show="langs == 'en'" class="gift_ul_item_text">
                                        <p data-i18n="i18n_gold_return">金币退回</p>&nbsp
                                        <p data-i18n="i18n_send_message2">发消息给</p>
                                        <p @click="find_infor(element.targetUid)" class="gift_ul_item_text_name">{{element.targetNick}}</p>
                                    </div>

                                    <p class="gift_ul_item_date">{{element.time_hours}}</p>
                                </div>
                                <!-- 送礼物搭讪退回 -->
                                <div class="gift_ul_left" v-if="element.billType == 8">

                                    <div v-show="langs == 'zh'" class="gift_ul_item_text">
                                        <p data-i18n="i18n_say_hi">搭讪</p>
                                        <p @click="find_infor(element.targetUid)" class="gift_ul_item_text_name">{{element.targetNick}}</p>
                                        <p data-i18n="i18n_gold_return">金币退回</p>
                                        <p>({{element.giftName}}X{{element.giftNum}})</p>
                                    </div>
                                    <div v-show="langs == 'en'" class="gift_ul_item_text">
                                        <p data-i18n="i18n_gold_return">金币退回</p>&nbsp
                                        <p data-i18n="i18n_say_hi2">搭讪</p>
                                        <p @click="find_infor(element.targetUid)" class="gift_ul_item_text_name">{{element.targetNick}}</p>
                                        <p>({{element.giftName}}X{{element.giftNum}})</p>
                                    </div>
                                    <div v-show="langs == 'vi'" class="gift_ul_item_text">
                                        <p data-i18n="i18n_say_hi3">搭讪</p>
                                        <p @click="find_infor(element.targetUid)" class="gift_ul_item_text_name">{{element.targetNick}}</p>
                                        <p data-i18n="i18n_gold_return">金币退回</p>
                                        <p>&nbsp ({{element.giftName}}X{{element.giftNum}})</p>
                                    </div>

                                    <p class="gift_ul_item_date">{{element.time_hours}}</p>
                                </div>

                                <div class="gift_ul_right">
                                    <p>+{{element.goldNum}}</p>
                                    <img src="./images/ic_zuanshi.png" alt="">
                                </div>

                            </div>
                        </li>
                    </ul>

                </van-index-bar>    
            </van-tab>
        </van-tabs>

        <!-- 隐藏的日期选择器，。。 -->
        <van-popup v-model="isChoiceTime" round position="bottom" :style="{ height: '14.5rem' }" />
            <div class="headerSlots">
                <div class="quxiao" @click="cancelClick" data-i18n="i18n_cancel"></div>
                <div class="xuanze" data-i18n="i18n_select_time"></div>
                <div class="queding" @click="determine" data-i18n="i18n_ok"></div>
            </div>
            <div class="center">
                <div class="center_left" :class="cont == 1 ? 'selected' : 'un_selected'" @click="timeClick(1)">{{toolTime01}}</div>
                <div class="center_text" data-i18n="i18n_to"></div>
                <div class="center_right" :class="cont == 2 ? 'selected' : 'un_selected'" @click="timeClick(2)">{{toolTime02}}</div>
            </div>
            <div>
                <van-datetime-picker visible-item-count="3" type="date" @change="changeTimeMore" :show-toolbar="false" v-model="startTimes"/>
            </div>
        </van-popup>
        </template>
    </div>
    <script src="//cdn.bootcdn.net/ajax/libs/eruda/2.3.3/eruda.js"></script>
    <script>eruda.init();</script>

    <script src="./lib/day@1.8.21.js"></script>
    <script src="./lib/vue@2.6.min.js"></script>
    <script src="./lib/vant@2.12.js"></script>
    <script src="./lib/flexible.js"></script>
    <script src="./lib/jquery.main.js"></script>
    <script src="./lib/jquery.i18n.js"></script>
    <script src="./lib/jquery.i18n.messagestore.js"></script>
    <script src="./js/util.js"></script>
    <script src="./js/index.js"></script>

</body>
</html>