<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-i18n="i18n_diamond_mission"></title>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/swiper.min.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/vant@2.12.css"/>
</head>
<body data-lang="cn">
    <div id="app">
        <template>  
        <!-- 任务模块。。 -->
        <div class="title">
        <section class="task">
            <div class="swiper-container study_fo">
                <div class="swiper-wrapper">
                    <div class="swiper-slide meet_number">
                        <div class="div">
                            <p class="num num1">{{head_data.matchNum}}</p>
                            <p class="text" data-i18n="i18n_meet_number"></p>
                        </div>
                    </div>
                    <div class="swiper-slide reply_message">
                        <div class="div">
                            <p class="num num2">{{head_data.replyNum}}</p>
                            <p class="text" data-i18n="i18n_reply_message"></p>
                        </div>
                    </div>
                    <div class="swiper-slide received_the_news">
                        <div class="div">
                            <p class="num num3">{{head_data.msgNum}}</p>
                            <p class="text" data-i18n="i18n_received_the_news"></p>
                        </div>
                    </div>
                    <div class="swiper-slide valid_date">
                        <div class="div">
                            <p class="num num4">{{head_data.dayNum}}</p>
                            <p class="text" data-i18n="i18n_online_time"></p>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </section>
        <!-- 图片按钮部分 -->
        <section class="invitation_btn">
            <a href="javascript:void(0)" class="url">
                <img class="invitation_btn_imgags" src="" alt="">
            </a>
        </section>
        </div>
        <!-- 钻石任务列表部分，标题导航 ...-->
        <section class="tab_content">
            <van-tabs swipeable swipe-threshold=4 animated sticky offset-top="12.14rem" @change="change">
                <!-- --------------------------------新人任务-------------------------------- -->
                <van-tab name="1" v-if="is_show_newUser">
                    <!-- <div slot="title">{{$.i18n().localize('i18n_new_user')}}</div> -->
                    <div slot="title">{{title_lang[0]}}</div>
                    <template v-if="type == 1">
                    <div class="new_user" v-for="(items, m) in list" :key="m">
                        <!-- 左边任务详情 -->
                        <div class="new_user_left">
                            <div class="new_user_title">{{items.lang[lang].title}}</div>
                            <div class="new_user_content">{{items.lang[lang].desc}}</div>
                        </div>
                        <!-- 右边领取按钮 -->
                        <div class="new_user_right" v-if="items.status == 0">
                            <van-popover v-if="previewIndex === items.id" placement="bottom-end" v-model="showPopover" theme="dark" trigger="click" @closed="closed" :offset="[55,51]">
                                <div class="popover">{{items.rewardBox.lang[lang].desc}}</div>
                            </van-popover>
                            <img @click="click_open(items.id)" class="img_off" src="./images/off1.png" alt="">
                        </div>
                        <img class="img_open" src="./images/open1.png" alt="" @click="get_reward(items.id, 1)" v-if="items.status == 1">
                        <div class="new_user_state" v-if="items.status == 2" data-i18n='i18n_received'>已领取</div>
                    </div>
                    </template>
                </van-tab>
                <!-- --------------------------------今日任务-------------------------------- -->
                <van-tab name="2">
                    <!-- <div slot="title">{{$.i18n().localize('i18n_today')}}</div> -->
                    <div slot="title">{{title_lang[1]}}</div>
                    <template v-if="type == 2">
                    <div class="new_today" v-for="(item,i) in list" :key="i">
                        <!-- 需要 tab 导航 -->
                        <van-tabs animated v-if="item.tasks" :active="item.tabIndex">
                            <van-tab :name="data.id" v-for="(data,j) in item.tasks" :key="j">
                                <div slot="title">Lv {{j+1}}</div>
                                <div class="today" :class="{new_today_height: data.status == 0 || data.status == 2}">
                                    <!-- item 左边任务详情 -->
                                    <div class="today_left">
                                        <div class="today_title">{{data.lang[lang].title}}</div>
                                        <!-- 有礼物图片 -->
                                        <div class="today_content" v-if="data.lang[lang].image" :class="{status1: data.status == 1 || data.status == 2}">
                                            <span class="ion">
                                                <img :src='data.lang[lang].image' alt="" style="width: .8rem; height: .8rem;">
                                            </span>
                                            {{data.lang[lang].desc}} {{data.value}}/{{data.need}}&nbsp
                                            <img v-show="data.status == 1 || data.status == 2" src="./images/ic-gouxuan@2x.png" alt="">
                                        </div>
                                        <!-- 无礼物图片 -->
                                        <div class="today_content" v-else :class="{status1: data.status == 1 || data.status == 2}">
                                            <span>{{data.lang[lang].desc}}</span>
                                            <span>{{data.value}}</span>/<span>{{data.need}}</span>&nbsp
                                            <img v-show="data.status == 1 || data.status == 2" src="./images/ic-gouxuan@2x.png" alt="">
                                        </div>
                                    </div>
                                    <!-- item 右边领取按钮，需要气泡框 -->
                                    <div class="today_right" v-if="data.status == 0">
                                        <van-popover v-if="previewIndex === data.id" placement="bottom-end" v-model="showPopover" theme="dark" trigger="click" @closed="closed" :offset="[55,51]">
                                            <div class="popover">{{data.rewardBox.lang[lang].desc}}</div>
                                        </van-popover>
                                        <img @click="click_open(data.id)" class="img_off" :src=`./images/off${j+1}.png` alt="">
                                    </div>
                                    <img @click="get_reward(data.id, j+1)" v-if="data.status == 1" class="img_open" :src=`./images/open${j+1}.png` alt="">
                                    <div v-if="data.status == 2" class="today_state" data-i18n='i18n_received'>{{$.i18n().localize('i18n_received')}}</div>
                                </div>
                            </van-tab>
                        </van-tabs>
                        <!-- 不需要 tab 情况 -->
                        <div class="new_user" v-else>
                            <!-- 左边任务详情 -->
                            <div class="new_user_left">
                                <div class="new_user_title">{{item.lang[lang].title}}</div>
                                <div class="new_user_content" :class="{status1: item.status == 1 || item.status == 2}">
                                    <span>{{item.lang[lang].desc}}</span>
                                    <span>{{item.value}}</span>/<span>{{item.need}}</span>min&nbsp
                                    <img v-show="item.status == 1 || item.status == 2" src="./images/ic-gouxuan@2x.png" alt="">
                                </div>
                            </div>
                            <!-- 右边领取按钮。 -->
                            <div class="new_user_right" v-if="item.status == 0">
                                <van-popover v-if="previewIndex === i" placement="bottom-end" v-model="showPopover" theme="dark" trigger="click" @closed="closed" :offset="[55,51]">
                                    <div class="popover">{{item.rewardBox.lang[lang].desc}}</div>
                                </van-popover>
                                <img @click="click_open(i)" class="img_off" src="./images/off1.png" alt="">
                            </div>
                            <img @click="get_reward(item.id, 1)" v-if="item.status == 1" class="img_open" src="./images/open1.png" alt="">
                            <div v-if="item.status == 2" class="new_user_state" data-i18n='i18n_received'>已领取</div>
                        </div>
                    </div>
                    </template>
                </van-tab>
                <!-- --------------------------------本周任务-------------------------------- -->
                <van-tab name="3">
                    <!-- <div slot="title">{{$.i18n().localize('i18n_toweek')}}</div> -->
                    <div slot="title">{{title_lang[2]}}</div>
                    <template v-if="type == 3">
                    <div class="toweek" v-for="(item, i) in list" :key="i">
                        <!-- 有 tab 。。。 -->
                        <van-tabs animated v-if="item.tasks && item.id != 1000" :active="item.tabIndex">
                            <van-tab :name="data.id" v-for="(data, j) in item.tasks" :key="j">
                                <div slot="title">Lv {{j+1}}</div>
                                <div class="today">
                                    <!-- 左边任务详情 -->
                                    <div class="today_left">
                                        <div class="today_title">{{data.lang[lang].title}}</div>
                                        <div class="today_content" :class="{status1: data.status == 1 || data.status == 2}">
                                            <span>{{data.lang[lang].desc}}</span>
                                            <span>{{data.value}}</span>/<span>{{data.need}}</span>&nbsp
                                            <img v-show="data.status == 1 || data.status == 2" src="./images/ic-gouxuan@2x.png" alt="">
                                        </div>
                                    </div>
                                    <!-- 右边领取按钮 -->
                                    <div class="today_state0" v-if="data.status == 0">
                                        <span>+{{data.reward}}</span> 
                                        <span><img src="./images/zuanshi.png" alt=""></span>
                                    </div>
                                    <div @click="get_reward(data.id, 4)" class="today_state1" v-if="data.status == 1">
                                        <span>+{{data.reward}}</span> 
                                        <span><img src="./images/zuanshi.png" alt=""></span>
                                    </div>
                                    <div v-if="data.status == 2" class="today_state" data-i18n='i18n_received'>{{$.i18n().localize('i18n_received')}}</div>
                                </div>
                            </van-tab>
                        </van-tabs>
                        <!-- 没 tab ，内容需要循环。 -->
                        <div v-else-if="item.id == 1000" class="new_user">
                            <!-- 左边任务详情 -->
                            <div class="new_user_left">
                                <div class="new_user_title" data-i18n='i18n_active_tasks'>达成聊天活跃</div>
                                <div class="new_user_content" v-for="(res, k) in item.tasks" :key="k">
                                    <span :class="{status1: res.status == 1 || res.status == 2}">{{res.lang[lang].title}}</span>
                                    <span :class="{status1: res.status == 1 || res.status == 2}">{{res.value}}/{{res.need}}</span>&nbsp
                                    <img v-show="item.status == 1 || item.status == 2" src="./images/ic-gouxuan@2x.png" alt="">
                                    <!-- 问号气泡框。。 -->
                                    <van-popover v-if="k == 0" placement="bottom" v-model="hint" theme="dark" trigger="click">
                                        <div class="popover">{{res.lang[lang].desc}}</div>
                                        <template #reference>
                                            <span class="hint">?</span>
                                        </template>
                                    </van-popover>
                                </div>
                            </div>
                            <!-- 右边领取按钮 -->
                            <div class="new_user_right0" v-if="item.status == 0">
                                <span>+{{item.reward}}</span> 
                                <span><img src="./images/zuanshi.png" alt=""></span>
                            </div>
                            <div @click="get_reward(item.id, 4)" class="new_user_right1" v-if="item.status == 1">
                                <span>+{{item.reward}}</span> 
                                <span><img src="./images/zuanshi.png" alt=""></span>
                            </div>
                            <div v-if="item.status == 2" class="new_user_state" data-i18n='i18n_received'>已领取</div>
                        </div>
                        <!-- 没tab情况，内容不用循环。 -->
                        <div class="new_user" v-else>
                            <!-- 左边任务详情 -->
                            <div class="new_user_left">
                                <div class="new_user_title">{{item.lang[lang].title}}</div>
                                <div class="new_user_content" :class="{status1: item.status == 1 || item.status == 2}">
                                    <span>{{item.lang[lang].desc}}</span>
                                    <span>{{item.value}}/{{item.need}}</span>&nbsp
                                    <img v-show="item.status == 1 || item.status == 2" src="./images/ic-gouxuan@2x.png" alt="">
                                </div>
                            </div>
                            <!-- 右边领取按钮 -->
                            <div class="new_user_right0" v-if="item.status == 0">
                                <span>+{{item.reward}}</span> 
                                <span><img src="./images/zuanshi.png" alt=""></span>
                            </div>
                            <div @click="get_reward(item.id, 4)" class="new_user_right1" v-if="item.status == 1">
                                <span>+{{item.reward}}</span> 
                                <span><img src="./images/zuanshi.png" alt=""></span>
                            </div>
                            <div v-if="item.status == 2" class="new_user_state" data-i18n='i18n_received'>已领取</div>
                        </div>
                    </div>
                    </template>
                </van-tab>
            </van-tabs>
        </section>

        <!-- 领取弹窗。。 -->
        <van-dialog v-model="show" @confirm=confirm :confirm-button-text="$.i18n().localize('i18n_ok')">
            <template slot="title">
                <template v-if="dialog.type == 4">
                    <img style="width: 6.4rem; height: 6.4rem" class="top_img top" src='./images/img_钻石.png' alt="">
                </template>
                <template v-else>
                    <img class="top_img" :src=`./images/open${dialog.type}.png` alt="">
                    <img class="bottom_img" src="./images/img_baoxiang.png" alt="">
                </template>
            </template>

            <div v-if="dialog.type == 4">
                <p class="dialog_diamond_text">
                    <span data-i18n='i18n_get'>获得</span>
                    <span class="num">{{ dialog.num }}</span>
                    <span data-i18n='i18n_diamond_bootom'>钻石</span>
                </p>
            </div>
            <div v-else>
                <template v-if="lang == 'vi'">
                    <p><span data-i18n='i18n_open'>开启</span> <span data-i18n='i18n_chest'>宝箱</span> {{dialog.type_text}}</p>
                    <p>
                        <span data-i18n='i18n_get'>获得了</span>
                        <span class="num">{{ dialog.num }}</span>
                        <span data-i18n='i18n_diamond_bootom'>钻石</span>
                    </p>
                </template>
                <template v-else>
                    <p><span data-i18n='i18n_open'>开启</span>{{dialog.type_text}}<span data-i18n='i18n_chest'>宝箱</span></p>
                    <p>
                        <span data-i18n='i18n_get'>获得了</span>
                        <span class="num">{{ dialog.num }}</span>
                        <span data-i18n='i18n_diamond_bootom'>钻石</span>
                    </p>
                </template>
            </div>
        </van-dialog>
        </template>
    </div>
  

    <script src="./lib/eruda.min.js"></script>
    <script>eruda.init();</script>

    <script src="./lib/vue@2.6.min.js"></script>
    <script src="./lib/vant@2.12.js"></script>
    <script src="./lib/flexible.js"></script>
    <script src="./lib/jquery.main.js"></script>
    <script src="./lib/jquery.i18n.js"></script>
    <script src="./lib/jquery.i18n.messagestore.js"></script>
    <script src="./lib/swiper.min.js"></script>
    <script src="./js/util.js"></script>
    <script src="./js/index.js"></script>
</body>
</html>